.App {
  height: 100vh;
  background: darkviolet;
  background-image: url(https://img.freepik.com/free-photo/binary-data-background-blue-color-tone_163855-67.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
}

.operations-container,
.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.input-container {
  padding-top: 30px;
  height: calc(20vh - 30px);
  position: relative;
}
.operations-container {
  margin: auto;
  width: fit-content;
  height: 80vh;
}
